#overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10;
  }

.share-pop-up {
    width: 21em;
    background-color: #303030;
    border: 0.1em silver solid;
    padding: 1.5em 0.7em 0.7em 0.7em;
    display: block;
    z-index: 20;
    position: fixed;
    margin: auto;
    letter-spacing: .1em;
}

.login-pop-up {
    width: 21em;
    background-color: #303030;
    border: 0.1em silver solid;
    padding: 1.6em 3em 0.7em 2em;
    display: block;
    z-index: 20;
    position: fixed;
    margin: auto;
    letter-spacing: .1em;
  }

.close-button {
    font-size: 3em;
    color: white;
    position: absolute;
    top: 0.2em;
    right: 0.4em;
    font-size: 1.4em;
}

.share-icons {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.copy-button {
    cursor: "pointer";
    margin-bottom: "0.2em";
    padding: 0.4em;
    font-size: 1.275em;
    border-radius: 1em;
    color: white;
    background-color: #3b5998;
    cursor: pointer;
}

.modal-container {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }